div.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    border: 2px solid #444;
    color: #444;
    padding: 10px 20px;
}

h2{
    background-color: #f33c54;
    color: white;
    padding: 14px 28px;
    border-radius: 31px;
    transition: padding 0.5s ease-in-out, font-size 0.5s ease-in-out, border-radius 0.7s ease-in-out;
}

h2:hover{
    font-size: 30px;
    border-radius: 0px;
    padding: 30px 60px;
}